@import "tailwindcss";
@plugin "daisyui";

@font-face {
    font-family: 'MabinogiClassic';
    src: url('/fonts/mabinogi-classic.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  html {
    font-family: 'MabinogiClassic', sans-serif;
  }